.container{
    display:flex;
    justify-content: space-evenly;
    justify-items: center;
    margin-right: 7%;
    margin-top: 4%;
    
    

   
}
.submain-container{
    margin-left: 2%;
}
.submain-container2{
    margin-right: 6%;
}