.Topbar{
    top: 0;
    display: flex;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    position:sticky;
<<<<<<< HEAD
    z-index: 999;
=======
>>>>>>> abc73b95bd770642a1c652fe8c94db1832838588
   
    
  
    background-color: #E87676;
    
    

}
.sidebarListItemText{
    text-decoration: none;
    color:white;
    padding: 0.5rem 1rem;
    
}
.sidebarListItemText:hover{
    color:black
}
.TopbarList{
    display: grid;
    grid-template-columns: repeat(6,auto);
    width:50vw;
    grid-gap:10px;
    text-align: center;
    justify-content: end;

    list-style: none;
    margin-right: 2rem;
}

.TopbarLeft{
    margin-top: 38px;
    margin-left: 5;

}
.hamburger-menu{
    display: none;
}
@media(max-width:1245px){
    .Topbar{
        height: 60px;
        
    }
    .TopbarLeft{
        margin-left: 3;
    }
    .TopbarList{
        width: 70vw;
    }
}
@media(max-width:950px){
    .Topbar{
        height: 60px;
        
    }.TopbarLeft{
        margin-right:70%;
    }
    .TopbarList{
        display: none;
    }
    .hamburger-menu{
        display: block;
        font-size: 1.8rem;
    }
    .mobile-menu-link{
        grid-column: 2/4;
        position: relative;
        z-index: 99;
        height: 20rem;
        display: grid;
        grid-column: 2/5;
        align-items: center;
        padding-left: 3rem;
        transition: all 2s linear;
        
    
    }


}

